@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    width: 614px;
    display:flex;

    background-color: #f3f3f3;

    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 614px;
    height: 80px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
}

.telaDeEntrada{
    width: 100%;
    margin: 0 auto;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaDeEntrada img{
    width: 130px;
    height: 92px;

    margin-top: 72px;
    margin-left: 122px;
    margin-right: 122px;
    box-sizing: border-box;
}

.nomeDoUsuario{
    display: flex;
    flex-direction: column;

    margin-top: 94px;
    margin-bottom: 295px;
    box-sizing: border-box;

    gap: 15px;
}

.nomeDoUsuario input{
    width: 260px;
    height: 54px;


    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;


    display: flex;
    align-items: center;
    text-align: center;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    margin-top: 258px;
    margin-left: 57px;
    margin-right: 57px;
    box-sizing: border-box;
}

.botao-entrada {
    width: 109px;
    height: 45px;

    background: #E7E7E7;
    border-radius: 9px;
    border: none;

    margin-left: 133px;
    margin-right: 133px;
    box-sizing: border-box;
}

.botao-entrada p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: #696969;
}

.topo img{ 
    width: 75px;
    height: 53px;
}

.ion-icon1{
    font-size: 42px;
}

.ion-icon2 {
    font-size: 30px;
}

.escrever-mensagem{
    width: 614px;
    height: 80px;

    position: fixed;
    bottom: 0px;

    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 17px;
    padding-right: 18px;
    box-sizing: border-box;
}

.mensagem input {
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.mensagem-enviada ::placeholder {
    color: #000000;
    font-style: italic;
}

.mensagens {
    width: 614px;

    margin-top: 106px;
    margin-bottom: 106px;
    box-sizing: border-box;

    overflow-wrap: break-all;
}

.status-sala{
    background-color: #DCDCDC;
    border-radius: 2px;

    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 0 8px;

    display: flex;
    align-items: center;
}

.mensagem-todos{
    background-color: #FFFFFF;
    border-radius: 2px;

    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 0 8px;

    display: flex;
    align-items: center;
}

.mensagem-privada{
    background-color: #FFDEDE;
    border-radius: 2px;

    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 0 8px;

    display: flex;
    align-items: center;
}

h1{
    font-weight: bold;
    margin-right: 3px;
    margin-left: 3px;
}

h3{
    color: #AAAAAA;
    margin-right: 3px;
}

.escondido {
    display: none;
}

